
.color-palet-1-check-it-app {
    background-color: rgb(235, 246, 253);
}

.color-palet-2-check-it-app {
    background-color: #1b9ee0;
}

.color-palet-3-check-it-app {
    background-color: #188EC9;
}

.color-palet-4-check-it-app {
    background-color: #1BE0C0;
}

.color-palet-5-check-it-app {
    background-color: #C01BE0;
}

.color-palet-6-check-it-app {
    background-color:  #fff; 
}

