
.color-palet-1 {
    background-color: #0F1C24;
}

.color-palet-2 {
    background-color: #6BC4FF;
}

.color-palet-3 {
    background-color: #99D6FF;
}

.color-palet-4 {
    background-color: #ECF4F9;
}

.color-palet-5 {
    background-color: #FFCBA8;
}

.color-palet-6 {
    background-color:  #FFAC75; 
}

