.vevo-one {
    background: color(dark-blue);
    min-height: 80vh;
    position: relative;
    padding: 8rem 0 10rem 0;
    @include mobile {
        min-height: 0;
        padding: 0 0 6rem 0;
    }
}

.vevo-container-title {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  text-align: center;
  @include mobile {
    font-size: 4.3rem;
    text-align: left;
  }
}
