.top-arrow {
    background: color(dark-blue);
    display: flex;
    justify-content: center;
}

.top-arrow-portfolio {
    background: color(dark-blue);
    display: flex;
    justify-content: center;
    padding: 5rem 0 5rem 0;
    @include mobile {
        padding: 0 0 10rem 0;
    }
}

.top-arrow-down-one {
    width: 20px;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,.6), 50px 20px 80px  rgba(0,0,0,.3);
    position: absolute;
    z-index: 10;
}


.top-arrow-down {
    width: 20px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,.1), 0 0 30px  rgba(0,0,0,.4);

}

.spacer {
    margin: 0rem 0 10rem 0;
    background: color(dark-blue);
    @include mobile {
        margin: 0;
    }
}