footer {
    background: color(dark-blue);
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid color(accent-blue);
    padding: 3.5rem 0;
}

.footer-container-details {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.footer-email{
    padding: 0 3rem;
    @include mobile {
        padding: 1rem 1.5rem;
      }
}

.facebook {
    font-size: 4rem;
    padding: 0 3rem;
    color: color( light-gray);
    @include mobile {
        padding: 1rem 1.5rem;
      }
}

.instagram {
    font-size: 4rem;
    padding: 0 3rem;
    color: color( light-gray);
    @include mobile {
        padding: 1rem 1.5rem;
      }
}