.portfolio {
    background: color(dark-blue);
    min-height: 90vh;
    @include mobile {
        min-height: 80vh;
      }

}
.portfolio-item {
    max-width: 1000px !important;
    height: auto;
    object-fit: cover !important;
}

.carousel .carousel-item {
    width: 500px !important;
    min-height: auto !important;
    object-fit: cover !important;
    margin-top: -90px !important;
}

.portfolio-title {
    margin: 0;
    text-align: center;
    font-size: 6rem;
    margin: 0;
    padding: 7rem 0 9rem 0;
    line-height: 1.4;
    @include mobile {
        padding: 10rem 0 4rem 0;
        font-size: 4.3rem;
      }
}