.two {
    background-color:color(dark-blue-0);
    min-height: 100vh;
 
    @include ipad {
      min-height: 84vh;
    }
}

.two-container {
    line-height: 1.8;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
    @include ipad {
        width: 100%;
        padding-top:0;
        padding-bottom: 5rem;
      }
}

.two-container-space {
  @include ipad {
    padding-bottom: 15rem;
  }
}

.dev-two-container {
  line-height: 1.8;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 6rem;
  @include ipad {
      width: 100%;
      padding-top: 40rem;
      padding-bottom: 0rem;
    }
}

.two-container-title-strategy {
    font-size: 6rem;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  
    @include ipad {
        position: relative;
        z-index: 1;
        padding-top: 4rem;
        display: flex;
       
       
      }
      @include mobile {
        font-size: 4.3rem;
      }
}

.two-left-1 {
    background-color: color(accent-blue);
    min-width: 300px;
    height: 35vh;
    margin: 3vw;
    position: absolute;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,.2), 0 0 90px #000;
    @include ipad {
      display: none;
    }
}

.two-left {
    width: 40%;
}

.two-right {
    width: 60%;
    padding: 5rem;
    position: relative;
    z-index: 1;
    @include ipad {
        width: 100%;
        padding: 5rem 1.5rem 2rem 1.5rem;
      }
}

.two-right p {

  @include ipad {
    display: flex;
 
    
    }
}

.testing-two-right {
    width: 60%;
    padding: 5rem;
    position: relative;
    z-index: 1;
    @include ipad {
        width: 100%;
        padding-bottom: 8rem;
      }
      @include mobile{
        padding: 0rem 1rem 4rem 1rem;
      }
}

.two-right h1 {
    text-align: right;
    font-size: 2;
    @include mobile {
        padding-top: 5rem;
      }
}

.two-right p {
    text-align: right;
    @include ipad {
        position: relative;
        z-index: 1;
      }
}

.two-left-chess {
    font-size: 10vw;
    color: lighten(color(dark-blue-lighter-2), 25%);
    position: relative;
    left: -1vw;
    top: 0vw;
    width: 250%;
    max-width: 10vw;
    height: 300px;
    @include ipad {
        left: 0vw;
        top: -71px;
        top: 0vw;
      }
      @include mobile {
        display: none;
      }
}

.two-left-2 {
  background-color: color(dark-blue-0);
    height: 65vh;
    margin: 3vw;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    @include mobile {
      margin: 0;
      padding: 0rem 1.5rem 15rem 1.5rem;
      }
}

.two-container-title {
    font-size: 6rem;
    margin: 0;
    padding: 0 0 0 15rem;
    width: 60%;
    @include ipad {
        width: 100%;
        padding: 0 ;
        font-size: 4.3rem;
        padding-top: 0rem;
      }
}

.two-left-3 {
    background-color: darken(color(accent-blue), 5%);
    min-width: 120px;
    height: 15vh;
    margin: 3vw;
    position: absolute;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,.2), 0 0 90px #000;
    @include ipad {
      display: none;
      padding-bottom: 55rem;
    }
}

.two-container-text {
    text-indent: 0rem;
    line-height: 1.8;
    color: color(light-gray);
    text-align: center;
    text-align: left;
    padding: 0 0 0 15rem;
    width: 80%;
    @include ipad {
        width: 100%;
        padding: 0 0rem 0 0rem;
      }
}

.two-container-2 {
    padding: 5rem 0rem 60rem 4rem;
    background-color:color(dark-blue-0);
    @include ipad {
        padding: 0 0 0rem 1.5rem;
      }
}